[profile.default]
solc_version = "0.8.18"
optimizer_runs = 10_000

[profile.ci]
verbosity = 3

[fuzz]
runs = 512

[fmt]
line_length = 120
tab_width = 4
quote_style = "double"
bracket_spacing = false
int_types = "long"
multiline_func_header = "params_first"

[invariant]
runs = 2000
depth = 25
fail_on_revert = false
call_override = false
dictionary_weight = 80
include_storage = true
include_push_bytes = true